.links{
    text-decoration: none;
}

#sald{
  padding-right: 1%;
}

.margen{
    margin-left: 2%;
    margin-top: 2%;
}

 .centrar {
    max-width: 400px;
    margin: 0 auto; 
  }

  .selects{
    margin-left: 2%;
    margin-bottom: 20px;
  }
.margenIzquierdo{
    margin-left: 2%;
}